
body{
    background-color:whitesmoke;
}

.navbar{
    display:block;
    color:blue;
}
ul {
    list-style-type:none;
    margin:0;
    padding:20;
    overflow:hidden;
    background-color:cornflowerblue;
    font-size:20px;


}

a{
    text-decoration: none;
}
nav ul{
    padding: 60px;
}
nav ul li{
    display: inline;
    padding: 50px;
}
.w3-green{
    animation: 5s w3-green;
}
@keyframes w3-green{
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}
.w3-red{
    animation: 5s w3-red;
}
@keyframes w3-red{
    0%{
        width:0%;
    }
    100%{
        width:80;
    }
}
.w3-blue{
    animation: 5s w3-blue;
}
@keyframes w3-blue{
0%{
    width:0%;
}
100%{
    width:70%;
}
}
.languages{
    display:block;
    background-color:grey;
    width:600px;
    border-collapse: collapse;
    

}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
img{
    width:100px;
    height:100px;
    position:relative;

}
.subs{
    padding:0;
    margin:0;
    display:inline;
    
}
.dynamic{
    border:1px solid black;
    padding:2px;
    margin:5px;
    width:500px;
    height:200px;
    overflow: visible;


}
.intuitive{
    border:1px solid green;
    padding:2px;
    margin:5px;
    width:500px;
    height:200px;
    
}
.animation{
    border:1px solid green;
    padding:2px;
    margin:5px;
    width:500px;
    height:200px;
    
}