body{
    /*background-image:
    linear-gradient(skyblue,lightblue),
    url("bq5.jpeg");*/
    background-color: skyblue;
  background-size: cover;
  background-blend-mode: saturation;
  

}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
img{
    border-radius:50%;
    
}
h1{
    text-align:center;
    top:0;
    text-decoration: underline;
    

}
.work{
    text-align:center;
    top:0;
    
}